<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular AWS Cognito Sample</a>
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/">Home Page</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" *ngIf="_auth.isLoggedIn()" routerLink="/restapi">Rest Call</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" *ngIf="!_auth.isLoggedIn()" routerLink="/register">Register</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" *ngIf="!_auth.isLoggedIn()" routerLink="/login">Login</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" *ngIf="_auth.isLoggedIn()" href="javascript:void(0)" (click)="doLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>