<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <form class="form-signin" method="POST" action="#" role="form">
                <div class="form-group">
                    <h2>Forgot Password</h2>
                </div>
                <div class="form-group">
                    <label class="control-label" for="verificationCode">Verification Code</label>
                    <input id="verificationCode" type="verificationCode" maxlength="50" class="form-control"
                            [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="newPassword">New Password</label>
                    <input id="newPassword" type="password" maxlength="25" class="form-control"
                            length="40" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                </div>
                <button (click)="onSubmit()" id="signupSubmit" type="submit" class="btn btn-info">Reset Password</button>
                <hr>
                <p><a [routerLink]="['/forgot-password']"> <i class="fa fa-fw fa-group"></i> Go back</a></p>
            </form>
        </div>
    </div>
    <br>
    <div class="row message-row" *ngIf="errorMessage!=null">
        <div class="col-lg-8">
            <div class="alert alert-danger">
                {{ errorMessage }}
            </div>
        </div>
    </div>
</div>

