<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <form class="form-signin" method="POST" action="#" role="form">
        <div class="form-group">
            <h2>Forgot Password</h2>
        </div>
        <div class="form-group">
            <label class="control-label" for="signupEmail">Email</label>
            <input id="signupEmail" type="email" maxlength="50" class="form-control" [(ngModel)]="email"
                    [ngModelOptions]="{standalone: true}">
        </div>
        <button (click)="onNext()" id="nextPage" type="submit" class="btn btn-info">Next</button>
        <hr>
        <p>
          <a [routerLink]="['/register']"> <i class="fa fa-fw fa-group"></i> Register</a> 
          <span class="right"><a [routerLink]="['/login']"> <i class="fa fa-fw fa-user"></i> Login</a></span>
        </p>
      </form>
    </div>
  </div>
  <br>
  <div class="row message-row" *ngIf="errorMessage!=null">
    <div class="col-lg-8">
      <div class="alert alert-danger">
          {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
